*,*::after,*::before
{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Fira Sans', sans-serif;
}

@mixin  gridMaker($col,$row,$gap) {

    display: grid;
    grid-template-columns: $col;
    grid-auto-rows: $row;
    grid-gap: $gap;
    
}

@mixin ImageResponsive($width)
{
   max-width: 100%;
   width: $width;
}

@mixin AlignCenter ($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}
@mixin AlignCenterFromTop ($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: flex-start;
    align-items: center;
}