@import '_common';


@keyframes lighting 
{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.browserContainer
{
    background:white;
    padding:0.35em;
    position: relative;
    z-index: 1000;
    width: 100%;
    border-bottom:0.01em solid lightgrey;
    .TabsManager
    {
        display: flex;
        flex-wrap: wrap;
      & > *:not(:nth-child(1))
      {
          margin-left:0.3%; 
      }
    }
    .TabsContainer
    {
        padding:1em;
        background:#e3e6ea;
        position:relative;
        width:35vmin;
        position:relative;
        border-radius:0.35em;
         label
         {
             position:absolute;
             top:0;
             left: 0;
             display: flex;
             justify-content: flex-start;
             align-items: center;
             padding: 0.45em;
             width:100%;
             overflow: hidden;
             .webpageTitle
             {
                 margin-left: 0.5em;
                 overflow: hidden;
                 font-weight: lighter;
                 color:#696868;
                 font-family: Arial, Helvetica, sans-serif;
                 font-size:0.78rem;
             }

         }
        .close_icon
        {
            position:absolute;
            right:3%;
            top:25%;
            cursor:pointer;
            border-radius:100%;
            color:rgb(238, 230, 230);
        }
        .close_icon:hover
        {
            background:#c0b9b9;
        }
        .add_icon
        {
            display: grid;
            position:absolute;
            right:-12%;
            top:30%;
            .icon
            {
                cursor:pointer;
            }
            .icon:hover
            {
                background:#e3e6ea;
                transition:background 0.25s ease-in;
                border-radius:100%;

            }
        }
    }
    .navigationToggle
    {
        display:flex;
        justify-content:center;
        align-items:center;
        .icon
        {
            margin-right:0.45em;
            color:#353638;
            cursor:pointer;
            padding:0.15em;
        }
        .icon:hover
        {
            background:#e3e6ea;
            transition:background 0.25s ease-in;
            border-radius:100%;
        }
    }
    .searchBarContainer
    {
        margin-top:0.35em;
        display:grid;
        grid-template-columns:1fr 7fr 1fr;
        justify-content:center;
        align-items:center;
        .searchBar
        {
            width:100%;
            input
            {
                width:100%;
                padding:0.6em;
                color:black;
                background:#f2f4f7;
                border:0.12em solid transparent;
                border-radius:4em;
            }
            input:focus
            {
                outline:0;
                border: 0.12em solid lightblue;
                background:white;
            }
        }
    }
    .settingsToggle
    {
        display:flex;
        justify-content:flex-end;
        align-items:center;
        margin-right:1em;
        position: relative;
        .icon
        {
            color:#353638;
            cursor:pointer;
            padding:0.15em;
        }
        .icon:hover
        {
            background:#e3e6ea;
            border-radius:100%;
            transition:background 0.25s ease-in;
        }
        #toggleSettingsButton:checked ~ .settingsMenu
        {
           transform: scale(1,1);
           transform-origin: right;
           transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;
        }
        .settingsMenu
        {
            position: absolute;
            background: rgba(1,1,1,0.67);
            border:1px solid #d8d6d5ed;
            top:2.8em;
            border-radius: 1em;
            right:-1.2em;
            width: 25vw;
            padding: 0.55em;
            box-sizing: border-box;
            box-shadow: 0 10px 10px -10px gray;
            transform: scale(0,0);
            transform-origin: right;
            transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;
            ul
            {
                list-style: none;
                border-bottom:1px solid #d8d6d5ed;
                margin: 0em 0 0.5em 0;
                
              li
              {
                  font-size: 0.87rem;
                  cursor: pointer;
                  padding-left: 2em;
                  text-transform: capitalize;
                  margin-bottom: 0.85em;
                  color: white;
                  position: relative;

                  a
                  {
                      text-decoration: none;
                      color: white;

                      &:hover
                      {
                        background: #dbdada;
                        color:#353638;
                      }
                  }
              }
              li:hover
              {
                  background: #dbdada;
                  color:#353638;
              }  
            }
        }
         @media screen and (max-width:1024px) {
              .settingsMenu
              {
                  width: 50vw;
              }
         }
    }
}

.browserStartScreen
{
   @include AlignCenterFromTop(column);
   text-align: center;
   width: 100%;
   height: 100vh;
   background: url('~images/lg.jpg');
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   animation: lighting 2s cubic-bezier(0.245, 0.610, 0.355, 1) 0.4s 1;
    .container
    {
        width: 100%;
        padding: 1%;
        overflow: hidden;
        box-sizing: border-box;
        background: rgba(1,1,1,0.6);
        width: inherit;
        height: inherit;
        position: relative;

        .googleSearchToolContainer
        { 
            @include AlignCenter(column);
            padding: 4vmax;
            position: absolute;
            top:10%;
            width: 100%;
            figure
            {  
               @include AlignCenter(row);
               width: 100%;
               position: relative;
                img
                {
                    @include ImageResponsive(25vmax);
                }
                margin-bottom: 2em;
            }
            .google__SearchTool
            {
                position: relative;
                width: 100%;
                input
                {
                    width: 60%;
                    padding: 0.9em;
                    border-radius: 5em;
                    border:0.12em solid transparent;
                }
                input:focus
                {
                    outline: 0;
                    border: 0.12em solid lightblue;
                }
            }
            @media screen and (max-width:800px){
                .google__SearchTool
                {
                    input
                    {
                        width: 100%;
                    }
                }
            }
        }
       
    }
}


/*Incognito */

.Private__container
{
    color: #dadce0;
    background: #323639;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    padding-top: 4em; 
    figure
    {
        img
        {
            @include ImageResponsive(30%);
        }
    }

    .about__private
    {
        @include AlignCenter(column);
        width: 80%;

        p
        {
            margin-top: 2%;
            line-height: 20px;
            width: 50%;
            font-size: 0.8rem;
        }
    }
}

/*Downloads Section */

.Downloads
{
    background: #3367d6;
    padding: 0.5%;
    color: white;
    .Downloads_header
    {
        display: grid;
        grid-template-columns:1fr 2fr 1fr;
        justify-content: center;
        align-items: center;
        label
        {
            font-size: 1rem;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: 100;
            letter-spacing: 1px;
            margin-left: 1em;
        }
        .search_toolBox
        {  
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .search__icon
            {
                position: absolute;
                left:1%;
                background: transparent;
            }
            #search_downloads
            {
               padding: 0.8em 0.8em 0.8em 2.3em;
               border-radius: 0.5em;
               border:0.12em solid transparent;
               width: 100%;
               color:white;
               background: rgba(1,1,1,0.28);
    
               &::placeholder
               {
                    color:lightgray;
               }
               &:focus
               {
                   outline: 0;
                   border:0.12 solid white;
               }
            }
        }
       
        .Downloads__options
        {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
}

/*DownloadLists*/

.DownloadsList
{
    margin: 0 auto;
    padding: 5%;
    @include AlignCenter(column);
    background: url('~images/london.png') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .DownloadBox
    {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-bottom: 2em;
        justify-content: flex-start;
        align-items: flex-start;
        label
        {
            color:#5c5c5c;
        }

        .container
        {
            background: white;
            margin-top:2%;
            box-shadow: 0 10px 10px -10px grey;
            width: 100%;
            padding: 2em;
            border-radius: 0.2em;
            @include gridMaker(minmax(100px,0.2fr) 1fr,'',0.2em);
            border: 1px solid #e9e6e6;  

            .fileTypeIcon
            {
                @include AlignCenter(column);

                img
                {
                    @include ImageResponsive(60%);
                }
            }
            .dialogBox
            {
                border-left: 0.12px solid gray;
                width: 100%;
                ul
                {
                    list-style: none;
                    padding-left: 2em;
                li
                {
                    margin-bottom: 0.6em;
                  
                    &:nth-child(1)
                    {
                        color:#2552b3;
                        font-size: 0.9rem;
                        font-weight: bold;
                        letter-spacing: 0.8px;
                        margin-bottom: 2.3%;
                    }
                    &:nth-child(2)
                    {
                        color:#696868;
                        font-size: 0.77rem;
                    }
                    &:nth-child(3)
                    {
                        margin-top:6%;
                        color:#1A73E8;
                        font-size: 0.8rem;
                        cursor: pointer;
                    }
                }
                }

           
            }
        }
    }
}

/*Settings*/

.__mainSettings
{
    background: #3367d6;
    padding: 0.5%;
    color: white;
    .settings_header
    {
        display: grid;
        grid-template-columns:0.1fr 1fr;
        justify-content: flex-start;
        align-items: center;
        label
        {
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: 1px;
            margin-left: 1em;
        }
        .search_toolBox
        {  
            position: relative;
            display: flex;
            align-items: center;
            width: 60%;
            justify-content: center;
            margin:0 auto;
            
            .search__icon
            {
                position: absolute;
                left:1%;
                background: transparent;
            }
            #search_settings
            {
               padding: 0.8em 0.8em 0.8em 2.3em;
               border-radius: 0.5em;
               border:0.12em solid transparent;
               width: 100%;
               color:white;
               background: rgba(1,1,1,0.28);
            
               position: relative;
               &::placeholder
               {
                    color:lightgray;
               }
               &:focus
               {
                   outline: 0;
                   border:0.12 solid white;
               }
            }
        }
       
        .Settings__options
        {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: relative;

            #options__toggle:checked ~ .afterClickSettings
            {
                transform: scale(1,1);
            
                .container
                {
                    transform: scale(1,1);
                    transition: transform cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
                }
            }

            .afterClickSettings
            {
                position: absolute;
                left: -5%;
                padding: 0;
                background: rgba(1,1,1,0.6);
                color:black;
                width: 98.75vw;
                z-index:1000;
                top:-1.28vh;
                height: 100vh;
                transform-origin: left;
                transform: scale(0,0);
                .container
                {
                    position: relative;
                    background: white;
                    width: 20%;
                    height: inherit;
                    padding: 1em;
                    transform-origin: left;
                    transform: scale(0,1);
                    transition: transform cubic-bezier(0.215, 0.610, 0.355, 1) 0.5s;
                    ul
                    {
                          list-style: none;

                          li
                          {
                              margin-bottom: 2em;
                              text-align: left;
                              width: 100%;
                              .close_settings
                              {
                                   position: absolute;
                                   right: 8%;
                                   top:5%;
                                   cursor: pointer;
                              }
                              &:nth-child(1)
                              {
                                  margin-bottom: 2.5em;
                                  font-size: 0.9rem;
                                  padding: 1em 0 1em 0em;
                                  border-bottom: 0.1em solid #bbbbbb;
                              }

                              &:not(:nth-child(1))
                              {
                                  cursor: pointer;
                                  color:#696868;
                                  font-size: 0.86rem;
                                  &:hover
                                  {
                                      color:#3367d6;
                                  }
                              }
                          }
                    }
                }
            }
        }
    }
}


/*About Dev*/

.__aboutDev
{
    padding: 3%;
    background: url('~images/jupiter.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    .container
    {
        @include gridMaker(repeat(auto-fit,minmax(300px,1fr)),'',1em);
        
        .profile
        {
              width: 100%;
              background: white;
              border-radius: 0.3em;
              @include AlignCenter(column);
             box-shadow: 0 10px 20px -8px grey;
             box-sizing: border-box;
             padding: 2em;
              figure
              {
                @include AlignCenter(column);
                  img
                  {
                      @include ImageResponsive(50%);
                  }
              }

              ._aboutInfo
              {
                  margin-top:1em;
                  ul
                  {
                      list-style: none;
                    li
                    {
                        @include AlignCenter(row);
                        cursor: pointer;
                        &:nth-child(1)
                        {
                            font-size: 1.1rem;
                            font-weight: bold;
                            margin-bottom: 0.5em;
                             
                            &:hover
                            {
                                color:#f1125c;
                            }
                        }
                    }  
                  }
              }
        }
    }
}